/*
---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav
4. Hero Carousel
5. Accordion
6. Shop
7. Product
8. Carousel Hero
9. Carousel Brand
10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */

/* Typography */
body, ul, li, p, a, label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}
/* General */
.logo { font-weight: 500 !important;}
.text-warning {  color: #ede861 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: black !important;}
.text-light { color: #cfd6e1 !important;}
.bg-dark { background-color: #1472D4 !important;}
.bg-light { background-color: #e9eef5 !important;}
.bg-black { background-color: #1d242d !important;}
.tiluloc{ color:#1472D4 ; }

.btn-success {
  background-color: #1472D4 !important;
  border-color: #1472D4 !important;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Agregamos una transición suave */
}
.button-style {
  background-color: #1472D4 !important;
  border-color: #1472D4 !important;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Agregamos una transición suave */
  padding: 9px;
  color: white;
}
.btn-success:hover {
  transform: scale(1.3); /* Escalamos el botón en un 10% cuando se pasa el cursor por encima */
}
.button-style:hover {
  transform: scale(1.3); /* Escalamos el botón en un 10% cuando se pasa el cursor por encima */
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}
/* Nav */
#templatemo_nav_top { min-height: 40px;}
#templatemo_nav_top * { font-size: .9em !important;}
#templatemo_main_nav a { color: #fff;}
#templatemo_main_nav a:hover { color: #FECC08;}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}
.navbar {
    background-color: #1472D4; /* Cambia el color de fondo según tus preferencias */
    padding: 10px; /* Ajusta el espaciado según tus preferencias */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del navbar */
}

.logo {
   
    max-width: 40%; /* La imagen ocupará el ancho máximo del navbar */
}

.logo2 {
   
  max-width: 100%; /* La imagen ocupará el ancho máximo del navbar */
}

/* Hero Carousel */
#template-mo-zay-hero-carousel { background: #efefef !important;}

.text-animation {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active .text-animation {
  opacity: 1;
  transition-delay: 0.5s; /* Agrega un retraso para que aparezca después de la transición del carrusel */
}
.carousel-inner {
  position: relative;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active img {
  opacity: 1;
  transition-delay: 0.8s; /* Ajusta según tus preferencias */
}


/* Accordion */
.templatemo-accordion a { color: #000;}
.templatemo-accordion a:hover { color: #333d4a;}
/* Shop */
.shop-top-menu a:hover { color: #69bb7e !important;}
/* Product */
.product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
.product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #1472D4;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #FECC08 !important;
  font-size: 2.8em !important;
}

.categories-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.2;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.categories-card:hover {
  opacity: 1;
  transform: translateY(0);
}

.categories-card img {
  max-width: 100%;
  border: 2px solid #cccccc;
  border-radius: 50%;
}



/* Carousel Brand */
.tempaltemo-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}
/* Services */
.services-icon-wap {transition: .3s; background-color: white;}
.services-icon-wap i, .services-icon-wap{ color: black;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #FECC08;}
.services-icon-wap:hover {background: #1472D4;}
/* Contact map */
.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #e8e8e8;}
/* Footer */
#tempaltemo_footer a { color: #dcdde1;}
#tempaltemo_footer a:hover { color: #FECC08;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

/* Estilos del botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  text-align: center;
  
}

.whatsapp-button a {
  display: block;
  width: 70px;
  height: 70px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 70px;
  color: white; /* Color del icono */
  font-size: 36px; /* Tamaño del icono */
  text-decoration: none; /* Elimina el subrayado en el enlace */
  
}

.whatsapp-button p {
  margin-top: 5px;
  font-size: 14px; /* Tamaño del texto */
  color: #555; /* Color del texto */
  
}

.whatsapp-button a:hover {
  background-color: darkgreen; /* Cambia el color en hover si deseas */
  transform: scale(1.3)

}


/*INICIO ABOUT*/


.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner-text {
  flex: 1 1 40%;
  margin: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

/*VIDEO SLIDER*/

/* Estilos generales de la sección */
.video-banner {
  position: relative;
  overflow: hidden;
  color: white;
  height: 100vh;
  background: transparent;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.titlevideo-container {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.titlevideo {
  margin: 0;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder !important;
}

/* Estilos para tarjetas */
.card-container {
  margin-bottom: 20px; /* Espacio entre las tarjetas */
}

.card {
  background-color: transparent;
  border: 1px solid white; /* Borde para resaltar las tarjetas */
  border-radius: 5px;
  padding: 10px;
}

/* Estilos para la sección de Misión */
.section-mision {
  background-color: #1472D4; /* Color de fondo azul */
  color: white; /* Color de texto blanco */
  padding: 50px 0;
  margin: 0; /* Elimina los márgenes */
  width: 100%; /* Ancho del 100% */
  overflow: hidden; /* Evita que el contenido se desborde */
} 

.section-mision h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 50px;
}

.section-mision p {
  font-size: 16px;
  line-height: 1.6;
  margin-left: 50px;
}
.img-mision{
  margin-left: 0px;
}

/* Estilos para la sección de Visión */
.section-vision {
  background-color: white; /* Color de fondo blanco */
  padding: 50px 0;
}

.section-vision h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-vision p {
  font-size: 16px;
  line-height: 1.6;
}

/* Estilos para la sección de Conócenos */
.section-conocenos {
  background-color: white; /* Color de fondo blanco */
  padding: 50px 0;
  text-align: center;
}

.section-conocenos h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-conocenos p {
  font-size: 16px;
  line-height: 1.6;
}






/* Media query para ajustar tarjetas en pantallas más pequeñas */
@media (max-width: 576px) {
  .col-lg-4 {
    width: 100%; /* Las tarjetas ocupan todo el ancho en pantallas pequeñas */
  }

  .card-container {
    text-align: center; /* Centrar las tarjetas en pantallas pequeñas */
  }

  .card {
    margin: 0 auto 20px; /* Espacio entre las tarjetas y centrado horizontal */
    width: 80%; /* Reducir el ancho de las tarjetas */
  }

  .logo{
    max-width: 60%;
  }

}


/* Media query para ajustar tarjetas en pantallas más pequeñas */
@media (max-width: 768px) {
  .col-lg-4 {
    width: 100%; /* Las tarjetas ocupan todo el ancho en pantallas pequeñas */
  }

  .logo{
    max-width: 60%;
  }
}

/*tarjetas nosotros*/

 /* Estilos optimizados para el efecto de giro */
 .card-container {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Estilos optimizados para las caras de las cartas */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transform-origin: center;
}

.card-front {
  background-color: #1472D4;
  color: yellow;
  background-size: cover; /* Ajusta el tamaño de la imagen según sea necesario */
  transform: rotateY(0deg);
  transform-origin: center;
}

.card-back {
  background-color: red; /* Cambiar a transparente */
  color: black;
  transform: rotateY(180deg);
  transform-origin: center;
  opacity: 0.9; /* Puedes ajustar la opacidad según tu preferencia */
}




/* Ajustar tamaño del botón al hacer scroll */
@media screen and (max-width: 991px) {
  .whatsapp-button {
      display: none;
  }
}

.video-slider {
            width: 100%;
            overflow: hidden;
        }

        .video-slide {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black; /* Opcional: fondo negro para los espacios vacíos alrededor del video */
        }

        .video-slide video {
            width: 100%;
            max-width: 100%;
            height: auto;
        }



@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}

  .logo{
    max-width: 50%;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {max-width: 450px;}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {max-width: 550px;}
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}


/* Media query para ajustar espaciado en pantallas pequeñas */
@media (max-width: 768px) {
  .video-banner, .container {
    margin-bottom: 30px; /* Agrega margen inferior en pantallas pequeñas */
  }

  .h1, .h2, .h5 {
    font-size: 24px; /* Reduce el tamaño de fuente en pantallas pequeñas */
  }
}






