<!DOCTYPE html>
<html lang="es">

<head>
    <title>Ingeesel - Nosotros</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/templatemo.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../assets/css/fontawesome.css">

    <!-- Carga de jQuery antes de otros scripts -->
    <script src="../assets/js/jquery-1.11.0.min.js"></script>

    <!-- videoslider slick -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

</head>

<body> <!-- Navbar -->
    <div id="navbar-placeholder"></div>
    <!-- Navbar -->

    <!-- videoslider -->
    <section class="container-fluid py-5 video-banner">
        <div class="row text-center pt-5 pb-3" style="background-color: transparent;" style="margin-bottom: 1000px;">
            <div class="col-lg-6 m-auto">
                <div class="titlevideo-container">
                    <h1 class="titlevideo"> ¡Conéctate INGEESEL e iluminemos con nuevas ideas juntos!</h1>
                </div>
            </div>
        </div>

        <div class="video-overlay"></div>
        <video autoplay loop muted class="video-background">
            <source src="../assets/videos/videolider.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!--<div class="row mt-5" >
        <div class="col-lg-4">
            <div class="card-container">
                <div class="card"style="background-color: transparent;">
                    <div class="card-inner" style="background-color: transparent;">
                        <div class="card-front">
                            <h2>Contenido Frontal</h2>
                        </div>
                        <div class="card-back">
                            <h2>Contenido Trasero</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-container">
                <div class="card"style="background-color: transparent;">
                    <div class="card-inner"style="background-color: transparent;">
                        <div class="card-front">
                            <h2>Contenido Frontal</h2>
                        </div>
                        <div class="card-back">
                            <h2>Contenido Trasero</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-container">
                <div class="card"style="background-color: transparent;">
                    <div class="card-inner"style="background-color: transparent;" style="margin-bottom: 1000px;">
                        <div class="card-front"style="margin-bottom: 1000px;">
                            <h2>Contenido Frontal</h2>
                        </div>
                        <div class="card-back">
                            <h2>Contenido Trasero</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    </section>

    <!-- vision -->
    <section class="container py-5 section-vision">
        <div class="row" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
            <div class="col-lg-6">
                <img src="../assets/img/vision.jpeg" alt="Imagen de Visión" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body" >
                        <h2 class="card-title">VISIÓN</h2>
                        <p class="card-text">La visión de INGEESEL S.A.S., es convertirnos en una empresa líder en la
                            prestación de servicios de ingeniería eléctrica, aportando innovación a nuestros clientes
                            con instalaciones eléctricas eficientes y sostenibles.</p>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h2 class="card-title">NUESTRA POLÍTICA</h2>
                        <p class="card-text">La política de INGEESEL S.A.S., se rige bajo tres pilares fundamentales:
                        </p>
                        <ul class="list-unstyled">
                            <li>Confiabilidad de sistemas eléctricos.</li>
                            <li>Eficiencia Energética.</li>
                            <li>Seguridad eléctrica.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- mision -->
    <section class="container-fluid py-5 section-mision">
        <div class="row" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
            <div class="col-lg-6">
                </BR>
                <h2>MISIÓN</h2>
                <p>La misión de INGEESEL S.A.S., es brindar a nuestros clientes todos los servicios que requieran sus
                    instalaciones eléctricas generando confianza, satisfaciendo sus necesidades y bajo los estándares
                    normativos vigentes.</p>
                <h2></BR>NUESTROS PRINCIPIOS </h2>
                <P>En INGEESEL S.A.S., nos regimos por los siguientes principios:</P>
                <p>
                    • Respeto a toda persona, entidad, grupo o poder </BR>
                    • Actuamos con ética y socialmente responsable. </BR>
                    • Humanismo

                </p>
            </div>
            <div class="col-lg-6">
                <img src="../assets/img/mision.jpeg" alt="Imagen de Misión" class="img-fluid">
            </div>
        </div>
    </section>




    <!-- Start Section -->
    <section class="container py-5 section-valores">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nuestros valores</h1>

            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-handshake"></i></div>
                    <h2 class="h5 mt-4 text-center">Integridad</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-users"></i></div>
                    <h2 class="h5 mt-4 text-center">Vocación de Servicio</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-lightbulb"></i></div>
                    <h2 class="h5 mt-4 text-center">Innovación</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-users-cog"></i></div>
                    <h2 class="h5 mt-4 text-center">Colaboración</h2>
                </div>
            </div>


        </div>
    </section>
    <!-- End Section -->


    <!-- Start Footer -->
    <div id="footer-placeholder"></div>
    <!-- End Footer -->

    <!-- Start Script -->
    <script>
        // Cargar el contenido de navbar.html en el div con id "navbar-placeholder"
        $(document).ready(function () {
            $("#navbar-placeholder").load("../partials/navbar.html");
        });</script>
    <script>
        // Cargar el contenido del footer desde footer.html
        $(document).ready(function () {
            $("#footer-placeholder").load("../partials/footer.html");
        });
    </script>

    <script>
        const bannerTexts = document.querySelectorAll('.banner-text');

        function showText(index) {
            if (index < bannerTexts.length) {
                bannerTexts[index].classList.add('show');
                setTimeout(() => showText(index + 1), 300);
            }
        }

        showText(0);
    </script>

    <script src="../assets/js/jquery-1.11.0.min.js"></script>
    <script src="../assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/templatemo.js"></script>
    <script src="../assets/js/custom.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.video-slider').slick({
                arrows: true,
                dots: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 5000,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: '<button type="button" class="slick-prev"><i class="fa fa-chevron-left"></i></button>',
                nextArrow: '<button type="button" class="slick-next"><i class="fa fa-chevron-right"></i></button>'
            });
        });
    </script>

    <!-- End Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>