<!DOCTYPE html>
<html lang="es">

<head>
    <title>Contáctanos</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/templatemo.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">

    <!-- Load map styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Carga de jQuery antes de otros scripts -->
    <script src="../assets/js/jquery-1.11.0.min.js"></script>

</head>

<body>
    <!-- Navbar -->
    <div id="navbar-placeholder"></div>
    <!-- Navbar -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">¿Cómo llegar?</h1>
            <p>
                Nos puedes ubicar y contactar fácilmente
            </p>
        </div>
    </div>
    <br><br>

    <!-- Start Map -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-center">
                <iframe class="mx-auto d-block w-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.432803885353!2d-74.09873682569992!3d4.694616595280349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b39a08a73c9%3A0x9a0021b0a2c3a394!2sCl.%2075B%20%2376-34%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1697692668947!5m2!1ses!2sco"
                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <!-- End Map -->

   <!-- Start Contactanos -->
   <section class="container py-5" id="contact-section">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="tiluloc">Contáctanos</h1>
            <p>Estamos aquí para responder a tus preguntas. ¡Déjanos un mensaje!</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form class="datos" id="contact-form">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="entry.233709812" required>
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="entry.442855481" required>
                </div>
                
                <div class="mb-3">
                    <label for="phone" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="phone" name="entry.1287769415">
                </div>
                
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" name="entry.303425558" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="submit-btn">Enviar</button>
            </form>
            <div class="text-center mt-3">
                <a href="https://wa.me/+573002684652" target="_blank" class="btn btn-success">
                    <i class="fab fa-whatsapp"></i> Contactar por WhatsApp
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Contactanos -->

    <!-- Start Footer -->
    <div id="footer-placeholder"></div>
    <!-- End Footer -->

    <!-- Start Script -->
    <script>
        // Cargar el contenido de navbar.html en el div con id "navbar-placeholder"
        $(document).ready(function () {
            $("#navbar-placeholder").load("../partials/navbar.html");
        });</script>
    <script>
        // Cargar el contenido del footer desde footer.html
        $(document).ready(function () {
            $("#footer-placeholder").load("../partials/footer.html");
        });
    </script>
    <script src="../assets/js/jquery-1.11.0.min.js"></script>
    <script src="../assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/templatemo.js"></script>
    <script src="../assets/js/custom.js"></script>

    <script>
        $(document).ready(function() {
            $("#contact-form").submit(function(e) {
                e.preventDefault(); // Prevenir el envío por defecto del formulario
    
                // Obtener los datos del formulario
                var formData = $("#contact-form").serialize();
    
                // Realizar una solicitud POST a Google Forms
                $.ajax({
                    url: "https://docs.google.com/forms/d/e/1FAIpQLSe2zH7Q58TRAWWqDKLRWP8Qklq9_RjUJEyb0vURLJO9nJ46BQ/formResponse",
                    data: formData,
                    type: "POST",
                    dataType: "xml",
                    statusCode: {
                        0: function () {
                            // Envío exitoso
                            alert("El formulario se ha enviado con éxito.");
                            // Restablecer el formulario
                            $("#contact-form")[0].reset();
                        },
                        200: function () {
                            // Envío exitoso
                            alert("El formulario se ha enviado con éxito.");
                            // Restablecer el formulario
                            $("#contact-form")[0].reset();
                        }
                    }
                });
            });
        });
        </script>
    <!-- End Script -->
</body>

</html>